@font-face {
  font-family: "circular";
  src: url("./Fonts/CircularXXWeb-Medium.woff") format("woff");
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}
p {
  margin: 0px;
}
body {
  height: 100%;
  background: linear-gradient(180deg, #f73f5d, #99007f);
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.canvasHolder {
  background-color: white;
  position: relative;
  border-radius: 50%;
  padding: 40px;
  height: fit-content;
  width: fit-content;
}
.content {
  padding: 100px;
}
.logo {
  margin: 30px;
  position: absolute;
  height: 250px;
  visibility: hidden;
}
.logoWin {
  animation: pulse 0.3s linear 1;
  visibility: visible;
}
.kopiusText {
  font-family: "circular";
  font-size: 80px;
  text-align: center;
  width: 100%;
  margin: 20px 0px;
}
.sad {
  margin: 30px;
  position: absolute;
  height: 250px;
  visibility: hidden;
}
.scoreText {
  font-size: 60px;
}
#tryAgain {
  background-color: aliceblue;
  font-size: 20px;
  font-family: "circular";
  width: fit-content;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
}
